In [68]:
import pandas as pd
from sqlalchemy import create_engine
from config import password

In [2]:
# Load in Astronaut CSV and save into DataFrame
file_to_load= "csv_data/astronauts.csv"
astro_df= pd.read_csv(file_to_load)
astro_df.head()

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,5/17/67,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaN,NaN
1,Loren W. Acton,NaN,NaN,Retired,3/7/36,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
2,James C. Adamson,1984.0,10.0,Retired,3/3/46,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaN,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,5/20/51,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1/20/30,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaN,NaN

In [20]:
#Load in Space Missions CSV and store into DataFrame
file_to_load= "csv_data/Space_Corrected.csv"
space_df= pd.read_csv(file_to_load)
space_df.head(50)

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success
5,5,5,CASC,"LC-9, Taiyuan Satellite Launch Center, China","Sat Jul 25, 2020 03:13 UTC","Long March 4B | Ziyuan-3 03, Apocalypse-10 & N...",StatusActive,64.68,Success
6,6,6,Roscosmos,"Site 31/6, Baikonur Cosmodrome, Kazakhstan","Thu Jul 23, 2020 14:26 UTC",Soyuz 2.1a | Progress MS-15,StatusActive,48.5,Success
7,7,7,CASC,"LC-101, Wenchang Satellite Launch Center, China","Thu Jul 23, 2020 04:41 UTC",Long March 5 | Tianwen-1,StatusActive,NaN,Success
8,8,8,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA","Mon Jul 20, 2020 21:30 UTC",Falcon 9 Block 5 | ANASIS-II,StatusActive,50.0,Success
9,9,9,JAXA,"LA-Y1, Tanegashima Space Center, Japan","Sun Jul 19, 2020 21:58 UTC",H-IIA 202 | Hope Mars Mission,StatusActive,90.0,Success
10,10,10,Northrop,"LP-0B, Wallops Flight Facility, Virginia, USA","Wed Jul 15, 2020 13:46 UTC",Minotaur IV | NROL-129,StatusActive,46.0,Success
11,11,11,ExPace,"Site 95, Jiuquan Satellite Launch Center, China","Fri Jul 10, 2020 04:17 UTC","Kuaizhou 11 | Jilin-1 02E, CentiSpace-1 S2",StatusActive,28.3,Failure
12,12,12,CASC,"LC-3, Xichang Satellite Launch Center, China","Thu Jul 09, 2020 12:11 UTC",Long March 3B/E | Apstar-6D,StatusActive,29.15,Success
13,13,13,IAI,"Pad 1, Palmachim Airbase, Israel","Mon Jul 06, 2020 01:00 UTC",Shavit-2 | Ofek-16,StatusActive,NaN,Success
14,14,14,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Sat Jul 04, 2020 23:44 UTC",Long March 2D | Shiyan-6 02,StatusActive,29.75,Success
15,15,15,Rocket Lab,"Rocket Lab LC-1A, M?hia Peninsula, New Zealand","Sat Jul 04, 2020 21:19 UTC",Electron/Curie | Pics Or It Didn??¦t Happen,StatusActive,7.5,Failure
16,16,16,CASC,"LC-9, Taiyuan Satellite Launch Center, China","Fri Jul 03, 2020 03:10 UTC",Long March 4B | Gaofen Duomo & BY-02,StatusActive,64.68,Success
17,17,17,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA","Tue Jun 30, 2020 20:10 UTC",Falcon 9 Block 5 | GPS III SV03,StatusActive,50.0,Success
18,18,18,CASC,"LC-2, Xichang Satellite Launch Center, China","Tue Jun 23, 2020 01:43 UTC",Long March 3B/E | Beidou-3 G3,StatusActive,29.15,Success
19,19,19,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Wed Jun 17, 2020 07:19 UTC","Long March 2D | Gaofen-9 03, Pixing III A & HE...",StatusActive,29.75,Success
20,20,20,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA","Sat Jun 13, 2020 09:21 UTC",Falcon 9 Block 5 | Starlink V1 L8 & SkySat 16 ...,StatusActive,50.0,Success
21,21,21,Rocket Lab,"Rocket Lab LC-1A, M?hia Peninsula, New Zealand","Sat Jun 13, 2020 05:12 UTC",Electron/Curie | Don't stop me now!,StatusActive,7.5,Success
22,22,22,CASC,"LC-9, Taiyuan Satellite Launch Center, China","Wed Jun 10, 2020 18:31 UTC",Long March 2C | Haiyang-1D,StatusActive,30.8,Success
23,23,23,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA","Thu Jun 04, 2020 01:25 UTC",Falcon 9 Block 5 | Starlink V1 L7,StatusActive,50.0,Success
24,24,24,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Sun May 31, 2020 08:53 UTC",Long March 2D | Gaofen-9-02 & HEAD-4,StatusActive,29.75,Success
25,25,25,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Sat May 30, 2020 19:22 UTC",Falcon 9 Block 5 | SpaceX Demo-2,StatusActive,50.0,Success
26,26,26,CASC,"Xichang Satellite Launch Center, China","Fri May 29, 2020 20:13 UTC",Long March 11 | XJS-G and XJS-H,StatusActive,5.3,Success
27,27,27,Virgin Orbit,"Cosmic Girl, Mojave Air and Space Port, Califo...","Mon May 25, 2020 19:50 UTC",LauncherOne | Demo Flight,StatusActive,12.0,Failure
28,28,28,VKS RF,"Site 43/4, Plesetsk Cosmodrome, Russia","Fri May 22, 2020 07:31 UTC",Soyuz 2.1b/Fregat-M | Cosmos 2546,StatusActive,NaN,Success
29,29,29,MHI,"LA-Y2, Tanegashima Space Center, Japan","Wed May 20, 2020 17:31 UTC",H-IIB | HTV-9,StatusRetired,112.5,Success
30,30,30,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Sun May 17, 2020 13:14 UTC",Atlas V 501 | OTV-6 (USSF-7),StatusActive,120.0,Success
31,31,31,ExPace,"Site 95, Jiuquan Satellite Launch Center, China","Tue May 12, 2020 01:16 UTC",Kuaizhou 1A | Xingyun-2 01 (Wuhan) & 02,StatusActive,NaN,Success
32,32,32,CASC,"LC-101, Wenchang Satellite Launch Center, China","Tue May 05, 2020 10:00 UTC",Long March 5B | Test Flight (New Crew Capsule),StatusActive,NaN,Success
33,33,33,Roscosmos,"Site 31/6, Baikonur Cosmodrome, Kazakhstan","Sat Apr 25, 2020 01:51 UTC",Soyuz 2.1a | Progress MS-14,StatusActive,48.5,Success
34,34,34,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Wed Apr 22, 2020 19:30 UTC",Falcon 9 Block 5 | Starlink V1 L6,StatusActive,50.0,Success
35,35,35,IRGC,"Launch Plateform, Shahrud Missile Test Site","Wed Apr 22, 2020 03:59 UTC",Qased | Noor 1,StatusActive,NaN,Success
36,36,36,CASC,"LC-2, Xichang Satellite Launch Center, China","Thu Apr 09, 2020 11:46 UTC",Long March 3B/E | Nusantara Dua,StatusActive,29.15,Failure
37,37,37,Roscosmos,"Site 31/6, Baikonur Cosmodrome, Kazakhstan","Thu Apr 09, 2020 08:05 UTC",Soyuz 2.1a | Soyuz MS-16,StatusActive,48.5,Success
38,38,38,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Mar 26, 2020 20:18 UTC",Atlas V 551 | AEHF 6,StatusActive,153.0,Success
39,39,39,CASC,"LC-3, Xichang Satellite Launch Center, China","Tue Mar 24, 2020 03:43 UTC",Long March 2C | Yaogan-30-06,StatusActive,30.8,Success
40,40,40,Arianespace,"Site 31/6, Baikonur Cosmodrome, Kazakhstan","Sat Mar 21, 2020 17:06 UTC",Soyuz 2.1b/Fregat | OneWeb #3,StatusActive,48.5,Success
41,41,41,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Wed Mar 18, 2020 12:16 UTC",Falcon 9 Block 5 | Starlink V1 L5,StatusActive,50.0,Success
42,42,42,VKS RF,"Site 43/4, Plesetsk Cosmodrome, Russia","Mon Mar 16, 2020 18:28 UTC",Soyuz 2.1b/Fregat-M | Cosmos 2545,StatusActive,NaN,Success
43,43,43,CASC,"LC-201, Wenchang Satellite Launch Center, China","Mon Mar 16, 2020 13:34 UTC",Long March 7A | XJY-6,StatusActive,NaN,Failure
44,44,44,CASC,"LC-2, Xichang Satellite Launch Center, China","Mon Mar 09, 2020 11:55 UTC",Long March 3B/E | Beidou-3 G2,StatusActive,29.15,Success
45,45,45,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA","Sat Mar 07, 2020 04:50 UTC",Falcon 9 Block 5 | CRS-20,StatusActive,50.0,Success
46,46,46,VKS RF,"Site 43/3, Plesetsk Cosmodrome, Russia","Thu Feb 20, 2020 08:24 UTC",Soyuz 2.1a/Fregat-M | Meridian-M n†­19L,StatusActive,48.5,Success
47,47,47,CASC,"LC-3, Xichang Satellite Launch Center, China","Wed Feb 19, 2020 21:07 UTC",Long March 2D | XJS-C to F,StatusActive,29.75,Success
48,48,48,Arianespace,"ELA-3, Guiana Space Centre, French Guiana, France","Tue Feb 18, 2020 22:18 UTC",Ariane 5 ECA | JCSAT-17 & GEO-KOMPSAT 2B,StatusActive,200.0,Success
49,49,49,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA","Mon Feb 17, 2020 15:05 UTC",Falcon 9 Block 5 | Starlink V1 L4,StatusActive,50.0,Success

In [4]:
#Extract the columns that we want from the Astronaut CSV.
new_astro_df= astro_df[['Name','Birth Date','Status','Gender','Missions']].copy()
new_astro_df.head()

,Name,Birth Date,Status,Gender,Missions
0,Joseph M. Acaba,5/17/67,Active,Male,"STS-119 (Discovery), ISS-31/32 (Soyuz)"
1,Loren W. Acton,3/7/36,Retired,Male,STS 51-F (Challenger)
2,James C. Adamson,3/3/46,Retired,Male,"STS-28 (Columbia), STS-43 (Atlantis)"
3,Thomas D. Akers,5/20/51,Retired,Male,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ..."
4,Buzz Aldrin,1/20/30,Retired,Male,"Gemini 12, Apollo 11"

In [5]:
#Clean up the Data. Here, we took all of the missions in the Astronaut DF and created new columns for each mission.
#This was done by using the split method.
astro_data= new_astro_df['Missions'].str.split(",", n=3, expand=True)

new_astro_df['Mission 1']= astro_data[0]
new_astro_df['Mission 2']= astro_data[1]
new_astro_df['Mission 3']= astro_data[2]
new_astro_df['Mission 4']= astro_data[3]

new_astro_df.drop(columns= ['Missions'], inplace= True)

new_astro_df.head()

,Name,Birth Date,Status,Gender,Mission 1,Mission 2,Mission 3,Mission 4
0,Joseph M. Acaba,5/17/67,Active,Male,STS-119 (Discovery),ISS-31/32 (Soyuz),None,None
1,Loren W. Acton,3/7/36,Retired,Male,STS 51-F (Challenger),None,None,None
2,James C. Adamson,3/3/46,Retired,Male,STS-28 (Columbia),STS-43 (Atlantis),None,None
3,Thomas D. Akers,5/20/51,Retired,Male,STS-41 (Discovery),STS-49 (Endeavor),STS-61 (Endeavor),STS-79 (Atlantis)
4,Buzz Aldrin,1/20/30,Retired,Male,Gemini 12,Apollo 11,None,None

In [6]:
#More clean up. We had to remove the extra parentheses in the mission columns that was needed. 
#This took out information that was not needed.
new_astro_df['Mission 1']= new_astro_df['Mission 1'].str.split('(').str[0]
new_astro_df['Mission 2']= new_astro_df['Mission 2'].str.split('(').str[0]
new_astro_df['Mission 3']= new_astro_df['Mission 3'].str.split('(').str[0]
new_astro_df['Mission 4']= new_astro_df['Mission 4'].str.split('(').str[0]
new_astro_df

,Name,Birth Date,Status,Gender,Mission 1,Mission 2,Mission 3,Mission 4
0,Joseph M. Acaba,5/17/67,Active,Male,STS-119,ISS-31/32,None,None
1,Loren W. Acton,3/7/36,Retired,Male,STS 51-F,None,None,None
2,James C. Adamson,3/3/46,Retired,Male,STS-28,STS-43,None,None
3,Thomas D. Akers,5/20/51,Retired,Male,STS-41,STS-49,STS-61,STS-79
4,Buzz Aldrin,1/20/30,Retired,Male,Gemini 12,Apollo 11,None,None
...,...,...,...,...,...,...,...,...
352,David A. Wolf,8/23/56,Retired,Male,STS-58,STS-112,STS-127,None
353,Neil W. Woodward III,7/26/62,Retired,Male,NaN,NaN,NaN,NaN
354,Alfred M. Worden,2/7/32,Retired,Male,Apollo 15,None,None,None
355,John W. Young,9/24/30,Retired,Male,Gemini 3,Gemini 10,Apollo 10,"Apollo 16, STS-1"
356,George D. Zamka,6/29/62,Retired,Male,STS-120,STS-130,None,None

In [7]:
#Using the melt method, we stacked all the missions so there is one column for the missions.
transformed_astro_df= pd.melt(new_astro_df, id_vars =['Name','Birth Date','Status','Gender'], 
                            value_vars =['Mission 1','Mission 2','Mission 3','Mission 4'], 
                            var_name ='Mission_num', value_name ='Missions') 
transformed_astro_df

,Name,Birth Date,Status,Gender,Mission_num,Missions
0,Joseph M. Acaba,5/17/67,Active,Male,Mission 1,STS-119
1,Loren W. Acton,3/7/36,Retired,Male,Mission 1,STS 51-F
2,James C. Adamson,3/3/46,Retired,Male,Mission 1,STS-28
3,Thomas D. Akers,5/20/51,Retired,Male,Mission 1,STS-41
4,Buzz Aldrin,1/20/30,Retired,Male,Mission 1,Gemini 12
...,...,...,...,...,...,...
1423,David A. Wolf,8/23/56,Retired,Male,Mission 4,None
1424,Neil W. Woodward III,7/26/62,Retired,Male,Mission 4,NaN
1425,Alfred M. Worden,2/7/32,Retired,Male,Mission 4,None
1426,John W. Young,9/24/30,Retired,Male,Mission 4,"Apollo 16, STS-1"
1427,George D. Zamka,6/29/62,Retired,Male,Mission 4,None

In [64]:
#We had to further clean the data and remove any spaces before or after the mission names so it does not skew
#the join later on.
cleaned_astro_df= transformed_astro_df.dropna(how='any') 
cleaned_astro_df['Missions']= cleaned_astro_df['Missions'].str.strip()
cleaned_astro_df.head(50)

/Users/brykobe24/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Name,Birth Date,Status,Gender,Mission_num,Missions
0,Joseph M. Acaba,5/17/67,Active,Male,Mission 1,STS-119
1,Loren W. Acton,3/7/36,Retired,Male,Mission 1,STS 51-F
2,James C. Adamson,3/3/46,Retired,Male,Mission 1,STS-28
3,Thomas D. Akers,5/20/51,Retired,Male,Mission 1,STS-41
4,Buzz Aldrin,1/20/30,Retired,Male,Mission 1,Gemini 12
5,Andrew M. Allen,8/4/55,Retired,Male,Mission 1,STS-46
6,Joseph P. Allen,6/27/37,Retired,Male,Mission 1,ST-5
7,Scott D. Altman,8/15/59,Retired,Male,Mission 1,STS-90
8,William A. Anders,10/17/33,Retired,Male,Mission 1,Apollo 8
9,Clayton C. Anderson,2/23/59,Retired,Male,Mission 1,STS-117/120
10,Michael P. Anderson,12/25/59,Deceased,Male,Mission 1,STS-89
11,Dominic A. Antonelli,8/23/67,Active,Male,Mission 1,STS-119
12,Jerome Apt III,4/18/49,Retired,Male,Mission 1,STS-37
13,Lee J. Archambault,8/25/60,Retired,Male,Mission 1,STS-117
14,Neil A. Armstrong,8/5/30,Deceased,Male,Mission 1,Gemini 8
15,Richard R. Arnold II,11/26/63,Active,Male,Mission 1,STS-119
16,Jeffrey S. Ashby,6/1/54,Retired,Male,Mission 1,STS-93
18,James P. Bagian,2/22/52,Retired,Male,Mission 1,STS-29
19,Ellen S. Baker,4/27/53,Retired,Female,Mission 1,STS-34
20,Michael A. Baker,10/27/53,Management,Male,Mission 1,STS-43
21,Michael R. Barratt,4/16/59,Active,Male,Mission 1,ISS-19/20
22,Daniel T. Barry,12/30/53,Retired,Male,Mission 1,STS-72
23,John-David F. Bartoe,11/17/44,Retired,Male,Mission 1,STS 51-F
25,Alan L. Bean,3/15/32,Retired,Male,Mission 1,Apollo 12
26,Robert L. Behnken,7/28/70,Active,Male,Mission 1,STS-123
27,John E. Blaha,8/26/42,Retired,Male,Mission 1,STS-29
28,Michael J. Bloomfield,3/16/59,Retired,Male,Mission 1,STS-86
29,Guion S. Bluford Jr.,11/22/42,Retired,Male,Mission 1,STS-8
30,Karol J. Bobko,12/23/37,Retired,Male,Mission 1,STS-6
31,Eric A. Boe,10/1/64,Active,Male,Mission 1,STS-126
32,Charles F. Bolden Jr.,8/19/46,Management,Male,Mission 1,STS-61C
33,Frank Borman,3/14/28,Retired,Male,Mission 1,Gemini 7
34,Stephen G. Bowen,2/13/64,Active,Male,Mission 1,STS-126
35,Kenneth D. Bowersox,11/14/56,Retired,Male,Mission 1,STS-50
36,Charles E. Brady Jr.,8/12/51,Deceased,Male,Mission 1,STS-78
37,Vance D. Brand,5/9/31,Retired,Male,Mission 1,Apollo-Soyuz Test Project
38,Daniel C. Brandenstein,1/17/43,Retired,Male,Mission 1,STS-8
39,Randolph J. Bresnik,9/11/67,Active,Male,Mission 1,STS-129
40,Roy D. Bridges Jr.,7/19/43,Retired,Male,Mission 1,STS 51-F
41,Curtis L. Brown Jr.,3/11/56,Retired,Male,Mission 1,STS-47
42,David M. Brown,4/16/56,Deceased,Male,Mission 1,STS-107
43,Mark N. Brown,11/18/51,Retired,Male,Mission 1,STS 28
44,James F. Buchli,6/20/45,Retired,Male,Mission 1,STS 51-C
45,Jay Clark Buckey,6/6/56,Retired,Male,Mission 1,STS-90
47,Daniel C. Burbank,7/27/61,Active,Male,Mission 1,STS-106
48,Daniel W. Bursch,7/25/57,Retired,Male,Mission 1,STS-51
49,Robert D. Cabana,1/23/49,Management,Male,Mission 1,STS-41
52,Tracy E. Caldwell (Dyson),8/14/69,Active,Female,Mission 1,STS-118
53,Charles J. Camarda,5/8/52,Management,Male,Mission 1,STS-114
54,Kenneth D. Cameron,11/29/49,Retired,Male,Mission 1,STS-37

In [25]:
#Extract the columns that we want from the Space Missions CSV.
new_space_df = space_df[['Company Name','Datum', 'Detail', 'Status Mission']].copy()
new_space_df.head()

,Company Name,Datum,Detail,Status Mission
0,SpaceX,"Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,Success
1,CASC,"Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,Success
2,SpaceX,"Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,Success
3,Roscosmos,"Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,Success
4,ULA,"Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,Success

In [26]:
#Cleaning the Space Missions DF. The first step we took was removing the left side of the pipe in the detail column.
#These were the names of the rockets and we did not need it. We then renamed the new column to Missions and dropped
#the Detail column.
space_data = new_space_df['Detail'].str.split("|", n=1, expand=True)

new_space_df['Missions']= space_data[1]

new_space_df.drop(columns= ['Detail'], inplace= True)

new_space_df.head(10)

,Company Name,Datum,Status Mission,Missions
0,SpaceX,"Fri Aug 07, 2020 05:12 UTC",Success,Starlink V1 L9 & BlackSky
1,CASC,"Thu Aug 06, 2020 04:01 UTC",Success,Gaofen-9 04 & Q-SAT
2,SpaceX,"Tue Aug 04, 2020 23:57 UTC",Success,150 Meter Hop
3,Roscosmos,"Thu Jul 30, 2020 21:25 UTC",Success,Ekspress-80 & Ekspress-103
4,ULA,"Thu Jul 30, 2020 11:50 UTC",Success,Perseverance
5,CASC,"Sat Jul 25, 2020 03:13 UTC",Success,"Ziyuan-3 03, Apocalypse-10 & NJU-HKU 1"
6,Roscosmos,"Thu Jul 23, 2020 14:26 UTC",Success,Progress MS-15
7,CASC,"Thu Jul 23, 2020 04:41 UTC",Success,Tianwen-1
8,SpaceX,"Mon Jul 20, 2020 21:30 UTC",Success,ANASIS-II
9,JAXA,"Sun Jul 19, 2020 21:58 UTC",Success,Hope Mars Mission

In [27]:
#Cleaning the Missions column more. We split it by the comma. This was split into 2 columns - Mission part 1 and 
#Mission part 2.
new = new_space_df['Missions'].str.split(",", n=1, expand=True)

new_space_df['Mission part 1']= new[0]
new_space_df['Mission part 2']= new[1]


new_space_df.drop(columns= ['Missions'], inplace= True)

new_space_df.head(10)

,Company Name,Datum,Status Mission,Mission part 1,Mission part 2
0,SpaceX,"Fri Aug 07, 2020 05:12 UTC",Success,Starlink V1 L9 & BlackSky,None
1,CASC,"Thu Aug 06, 2020 04:01 UTC",Success,Gaofen-9 04 & Q-SAT,None
2,SpaceX,"Tue Aug 04, 2020 23:57 UTC",Success,150 Meter Hop,None
3,Roscosmos,"Thu Jul 30, 2020 21:25 UTC",Success,Ekspress-80 & Ekspress-103,None
4,ULA,"Thu Jul 30, 2020 11:50 UTC",Success,Perseverance,None
5,CASC,"Sat Jul 25, 2020 03:13 UTC",Success,Ziyuan-3 03,Apocalypse-10 & NJU-HKU 1
6,Roscosmos,"Thu Jul 23, 2020 14:26 UTC",Success,Progress MS-15,None
7,CASC,"Thu Jul 23, 2020 04:41 UTC",Success,Tianwen-1,None
8,SpaceX,"Mon Jul 20, 2020 21:30 UTC",Success,ANASIS-II,None
9,JAXA,"Sun Jul 19, 2020 21:58 UTC",Success,Hope Mars Mission,None

In [28]:
#We now had to clean up the Mission 1 column and split it again by the & sign, which was not needed.
new_2 = new_space_df['Mission part 1'].str.split("&", n=1, expand=True)

new_space_df['Mission 1']= new_2[0]
new_space_df['Mission 2']= new_2[1]

new_space_df.drop(columns= ['Mission part 1'], inplace= True)

new_space_df.head(50)

,Company Name,Datum,Status Mission,Mission part 2,Mission 1,Mission 2
0,SpaceX,"Fri Aug 07, 2020 05:12 UTC",Success,None,Starlink V1 L9,BlackSky
1,CASC,"Thu Aug 06, 2020 04:01 UTC",Success,None,Gaofen-9 04,Q-SAT
2,SpaceX,"Tue Aug 04, 2020 23:57 UTC",Success,None,150 Meter Hop,None
3,Roscosmos,"Thu Jul 30, 2020 21:25 UTC",Success,None,Ekspress-80,Ekspress-103
4,ULA,"Thu Jul 30, 2020 11:50 UTC",Success,None,Perseverance,None
5,CASC,"Sat Jul 25, 2020 03:13 UTC",Success,Apocalypse-10 & NJU-HKU 1,Ziyuan-3 03,None
6,Roscosmos,"Thu Jul 23, 2020 14:26 UTC",Success,None,Progress MS-15,None
7,CASC,"Thu Jul 23, 2020 04:41 UTC",Success,None,Tianwen-1,None
8,SpaceX,"Mon Jul 20, 2020 21:30 UTC",Success,None,ANASIS-II,None
9,JAXA,"Sun Jul 19, 2020 21:58 UTC",Success,None,Hope Mars Mission,None
10,Northrop,"Wed Jul 15, 2020 13:46 UTC",Success,None,NROL-129,None
11,ExPace,"Fri Jul 10, 2020 04:17 UTC",Failure,CentiSpace-1 S2,Jilin-1 02E,None
12,CASC,"Thu Jul 09, 2020 12:11 UTC",Success,None,Apstar-6D,None
13,IAI,"Mon Jul 06, 2020 01:00 UTC",Success,None,Ofek-16,None
14,CASC,"Sat Jul 04, 2020 23:44 UTC",Success,None,Shiyan-6 02,None
15,Rocket Lab,"Sat Jul 04, 2020 21:19 UTC",Failure,None,Pics Or It Didn??¦t Happen,None
16,CASC,"Fri Jul 03, 2020 03:10 UTC",Success,None,Gaofen Duomo,BY-02
17,SpaceX,"Tue Jun 30, 2020 20:10 UTC",Success,None,GPS III SV03,None
18,CASC,"Tue Jun 23, 2020 01:43 UTC",Success,None,Beidou-3 G3,None
19,CASC,"Wed Jun 17, 2020 07:19 UTC",Success,Pixing III A & HEAD-5,Gaofen-9 03,None
20,SpaceX,"Sat Jun 13, 2020 09:21 UTC",Success,None,Starlink V1 L8,SkySat 16 to 18
21,Rocket Lab,"Sat Jun 13, 2020 05:12 UTC",Success,None,Don't stop me now!,None
22,CASC,"Wed Jun 10, 2020 18:31 UTC",Success,None,Haiyang-1D,None
23,SpaceX,"Thu Jun 04, 2020 01:25 UTC",Success,None,Starlink V1 L7,None
24,CASC,"Sun May 31, 2020 08:53 UTC",Success,None,Gaofen-9-02,HEAD-4
25,SpaceX,"Sat May 30, 2020 19:22 UTC",Success,None,SpaceX Demo-2,None
26,CASC,"Fri May 29, 2020 20:13 UTC",Success,None,XJS-G and XJS-H,None
27,Virgin Orbit,"Mon May 25, 2020 19:50 UTC",Failure,None,Demo Flight,None
28,VKS RF,"Fri May 22, 2020 07:31 UTC",Success,None,Cosmos 2546,None
29,MHI,"Wed May 20, 2020 17:31 UTC",Success,None,HTV-9,None
30,ULA,"Sun May 17, 2020 13:14 UTC",Success,None,OTV-6 (USSF-7),None
31,ExPace,"Tue May 12, 2020 01:16 UTC",Success,None,Xingyun-2 01 (Wuhan),02
32,CASC,"Tue May 05, 2020 10:00 UTC",Success,None,Test Flight (New Crew Capsule),None
33,Roscosmos,"Sat Apr 25, 2020 01:51 UTC",Success,None,Progress MS-14,None
34,SpaceX,"Wed Apr 22, 2020 19:30 UTC",Success,None,Starlink V1 L6,None
35,IRGC,"Wed Apr 22, 2020 03:59 UTC",Success,None,Noor 1,None
36,CASC,"Thu Apr 09, 2020 11:46 UTC",Failure,None,Nusantara Dua,None
37,Roscosmos,"Thu Apr 09, 2020 08:05 UTC",Success,None,Soyuz MS-16,None
38,ULA,"Thu Mar 26, 2020 20:18 UTC",Success,None,AEHF 6,None
39,CASC,"Tue Mar 24, 2020 03:43 UTC",Success,None,Yaogan-30-06,None
40,Arianespace,"Sat Mar 21, 2020 17:06 UTC",Success,None,OneWeb #3,None
41,SpaceX,"Wed Mar 18, 2020 12:16 UTC",Success,None,Starlink V1 L5,None
42,VKS RF,"Mon Mar 16, 2020 18:28 UTC",Success,None,Cosmos 2545,None
43,CASC,"Mon Mar 16, 2020 13:34 UTC",Failure,None,XJY-6,None
44,CASC,"Mon Mar 09, 2020 11:55 UTC",Success,None,Beidou-3 G2,None
45,SpaceX,"Sat Mar 07, 2020 04:50 UTC",Success,None,CRS-20,None
46,VKS RF,"Thu Feb 20, 2020 08:24 UTC",Success,None,Meridian-M n†­19L,None
47,CASC,"Wed Feb 19, 2020 21:07 UTC",Success,None,XJS-C to F,None
48,Arianespace,"Tue Feb 18, 2020 22:18 UTC",Success,None,JCSAT-17,GEO-KOMPSAT 2B
49,SpaceX,"Mon Feb 17, 2020 15:05 UTC",Success,None,Starlink V1 L4,None

In [29]:
#We had to do the same thing to Mission part 2 column - split it by the & sign, which was not needed.
new_3 = new_space_df['Mission part 2'].str.split("&", n=1, expand=True)

new_space_df['Mission 3']= new_3[0]
new_space_df['Mission 4']= new_3[1]

new_space_df.drop(columns= ['Mission part 2'], inplace= True)

new_space_df

,Company Name,Datum,Status Mission,Mission 1,Mission 2,Mission 3,Mission 4
0,SpaceX,"Fri Aug 07, 2020 05:12 UTC",Success,Starlink V1 L9,BlackSky,None,None
1,CASC,"Thu Aug 06, 2020 04:01 UTC",Success,Gaofen-9 04,Q-SAT,None,None
2,SpaceX,"Tue Aug 04, 2020 23:57 UTC",Success,150 Meter Hop,None,None,None
3,Roscosmos,"Thu Jul 30, 2020 21:25 UTC",Success,Ekspress-80,Ekspress-103,None,None
4,ULA,"Thu Jul 30, 2020 11:50 UTC",Success,Perseverance,None,None,None
...,...,...,...,...,...,...,...
4319,US Navy,"Wed Feb 05, 1958 07:33 UTC",Failure,Vanguard TV3BU,None,None,None
4320,AMBA,"Sat Feb 01, 1958 03:48 UTC",Success,Explorer 1,None,None,None
4321,US Navy,"Fri Dec 06, 1957 16:44 UTC",Failure,Vanguard TV3,None,None,None
4322,RVSN USSR,"Sun Nov 03, 1957 02:30 UTC",Success,Sputnik-2,None,None,None
4323,RVSN USSR,"Fri Oct 04, 1957 19:28 UTC",Success,Sputnik-1,None,None,None

In [30]:
#Using the melt method, we stacked all the missions so there is one column for the missions.
transformed_space_df = pd.melt(new_space_df, id_vars = ['Company Name', 'Datum', 'Status Mission'],
                              value_vars = ['Mission 1', 'Mission 2', 'Mission 3', 'Mission 4'],
                              var_name = 'Mission_num', value_name = 'Missions')

transformed_space_df

,Company Name,Datum,Status Mission,Mission_num,Missions
0,SpaceX,"Fri Aug 07, 2020 05:12 UTC",Success,Mission 1,Starlink V1 L9
1,CASC,"Thu Aug 06, 2020 04:01 UTC",Success,Mission 1,Gaofen-9 04
2,SpaceX,"Tue Aug 04, 2020 23:57 UTC",Success,Mission 1,150 Meter Hop
3,Roscosmos,"Thu Jul 30, 2020 21:25 UTC",Success,Mission 1,Ekspress-80
4,ULA,"Thu Jul 30, 2020 11:50 UTC",Success,Mission 1,Perseverance
...,...,...,...,...,...
17291,US Navy,"Wed Feb 05, 1958 07:33 UTC",Failure,Mission 4,None
17292,AMBA,"Sat Feb 01, 1958 03:48 UTC",Success,Mission 4,None
17293,US Navy,"Fri Dec 06, 1957 16:44 UTC",Failure,Mission 4,None
17294,RVSN USSR,"Sun Nov 03, 1957 02:30 UTC",Success,Mission 4,None
17295,RVSN USSR,"Fri Oct 04, 1957 19:28 UTC",Success,Mission 4,None

In [63]:
#We had to further clean the data and remove any spaces before or after the mission names so it does not skew
#the join below.
cleaned_space_df= transformed_space_df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
cleaned_space_df['Missions']= cleaned_space_df['Missions'].str.strip()
cleaned_space_df.head()

/Users/brykobe24/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Company Name,Datum,Status Mission,Mission_num,Missions
0,SpaceX,"Fri Aug 07, 2020 05:12 UTC",Success,Mission 1,Starlink V1 L9
1,CASC,"Thu Aug 06, 2020 04:01 UTC",Success,Mission 1,Gaofen-9 04
2,SpaceX,"Tue Aug 04, 2020 23:57 UTC",Success,Mission 1,150 Meter Hop
3,Roscosmos,"Thu Jul 30, 2020 21:25 UTC",Success,Mission 1,Ekspress-80
4,ULA,"Thu Jul 30, 2020 11:50 UTC",Success,Mission 1,Perseverance

In [66]:
#Here we did an inner join on "missions" so it joined both DF's on the Missions column.
astronauts_missions_df= pd.merge(cleaned_astro_df, cleaned_space_df, on= "Missions", how="inner")
astronauts_missions_df

,Name,Birth Date,Status,Gender,Mission_num_x,Missions,Company Name,Datum,Status Mission,Mission_num_y
0,Joseph M. Acaba,5/17/67,Active,Male,Mission 1,STS-119,NASA,"Sun Mar 15, 2009 23:43 UTC",Success,Mission 1
1,Dominic A. Antonelli,8/23/67,Active,Male,Mission 1,STS-119,NASA,"Sun Mar 15, 2009 23:43 UTC",Success,Mission 1
2,Richard R. Arnold II,11/26/63,Active,Male,Mission 1,STS-119,NASA,"Sun Mar 15, 2009 23:43 UTC",Success,Mission 1
3,Lee J. Archambault,8/25/60,Retired,Male,Mission 2,STS-119,NASA,"Sun Mar 15, 2009 23:43 UTC",Success,Mission 1
4,Steven R. Swanson,12/3/60,Active,Male,Mission 2,STS-119,NASA,"Sun Mar 15, 2009 23:43 UTC",Success,Mission 1
...,...,...,...,...,...,...,...,...,...,...
592,William F. Readdy,1/24/52,Retired,Male,Mission 3,STS-79,NASA,"Mon Sep 16, 1996 08:54 UTC",Success,Mission 1
593,Carl E. Walz,9/6/55,Retired,Male,Mission 3,STS-79,NASA,"Mon Sep 16, 1996 08:54 UTC",Success,Mission 1
594,Thomas D. Akers,5/20/51,Retired,Male,Mission 4,STS-79,NASA,"Mon Sep 16, 1996 08:54 UTC",Success,Mission 1
595,Jerome Apt III,4/18/49,Retired,Male,Mission 4,STS-79,NASA,"Mon Sep 16, 1996 08:54 UTC",Success,Mission 1
596,Karol J. Bobko,12/23/37,Retired,Male,Mission 3,STS-51-J,NASA,"Thu Oct 03, 1985 15:15 UTC",Success,Mission 1

In [71]:
#We are connecting to our Database, which in this case is PostgreSQL.
rds_connection_string = (f"postgres:{password}@localhost:5432/etl_db")
engine = create_engine(f'postgresql://{rds_connection_string}')

In [72]:
#Using pandas to load csv converted DataFrame into the SQL database above.
astronauts_missions_df.to_sql(name='astronaut_missions', con=engine, if_exists='append', index=False)

In [73]:
#Confirming the data has been added by querying the astronaut_missions table.
pd.read_sql_query('SELECT * FROM astronaut_missions', con=engine).head()

,Name,Birth Date,Status,Gender,Mission_num_x,Missions,Company Name,Datum,Status Mission,Mission_num_y
0,Joseph M. Acaba,5/17/67,Active,Male,Mission 1,STS-119,NASA,"Sun Mar 15, 2009 23:43 UTC",Success,Mission 1
1,Dominic A. Antonelli,8/23/67,Active,Male,Mission 1,STS-119,NASA,"Sun Mar 15, 2009 23:43 UTC",Success,Mission 1
2,Richard R. Arnold II,11/26/63,Active,Male,Mission 1,STS-119,NASA,"Sun Mar 15, 2009 23:43 UTC",Success,Mission 1
3,Lee J. Archambault,8/25/60,Retired,Male,Mission 2,STS-119,NASA,"Sun Mar 15, 2009 23:43 UTC",Success,Mission 1
4,Steven R. Swanson,12/3/60,Active,Male,Mission 2,STS-119,NASA,"Sun Mar 15, 2009 23:43 UTC",Success,Mission 1