In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
#Extracting the atronauts CSV into a DataFrame
astronauts_csv = "Resources/astronauts.csv"
astronauts_df = pd.read_csv(astronauts_csv, sep=',', encoding='gbk')
astronauts_df.head()

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,5/17/67,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaN,NaN
1,Loren W. Acton,NaN,NaN,Retired,3/7/36,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
2,James C. Adamson,1984.0,10.0,Retired,3/3/46,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaN,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,5/20/51,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1/20/30,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaN,NaN

In [9]:
#Extracting the science missions CSV into a DataFrame
missions_csv = "Resources/science_missions.csv"
missions_df = pd.read_csv(missions_csv, sep=',', encoding='gbk')
missions_df.head(50)

,Mission,Missuon URL,Status,Image
0,ACRIMSAT,https://science.nasa.gov/missions/acrimsat,Past,https://smd-prod.s3.amazonaws.com/science-red/...
1,ACT-America,https://science.nasa.gov/missions/act-america,Operating,https://smd-prod.s3.amazonaws.com/science-red/...
2,ADEOS,https://science.nasa.gov/missions/adeos,Past,https://smd-prod.s3.amazonaws.com/science-red/...
3,AirMOSS,https://science.nasa.gov/missions/airmoss,Past,https://smd-prod.s3.amazonaws.com/science-red/...
4,Aqua,https://science.nasa.gov/missions/aqua,Operating,https://smd-prod.s3.amazonaws.com/science-red/...
5,Aquarius,https://science.nasa.gov/missions/aquarius,Past,https://smd-prod.s3.amazonaws.com/science-red/...
6,ASCENDS,https://science.nasa.gov/missions/ascends,Future,https://smd-prod.s3.amazonaws.com/science-red/...
7,ATLAS,https://science.nasa.gov/missions/atlas,Past,https://smd-prod.s3.amazonaws.com/science-red/...
8,ATom,https://science.nasa.gov/missions/atom,Operating,https://smd-prod.s3.amazonaws.com/science-red/...
9,ATS,https://science.nasa.gov/missions/ats,Past,https://smd-prod.s3.amazonaws.com/science-red/...
10,ATTREX,https://science.nasa.gov/missions/attrex,Operating,https://smd-prod.s3.amazonaws.com/science-red/...
11,Aura,https://science.nasa.gov/missions/aura,Operating,https://smd-prod.s3.amazonaws.com/science-red/...
12,CALIPSO,https://science.nasa.gov/missions/calipso,Operating,https://smd-prod.s3.amazonaws.com/science-red/...
13,CARVE,https://science.nasa.gov/missions/carve,Past,https://smd-prod.s3.amazonaws.com/science-red/...
14,CHAMP,https://science.nasa.gov/missions/champ,Past,https://smd-prod.s3.amazonaws.com/science-red/...
15,CLARREO,https://science.nasa.gov/missions/clarreo,Future,https://smd-prod.s3.amazonaws.com/science-red/...
16,CloudSat,https://science.nasa.gov/missions/cloudsat,Operating,https://smd-prod.s3.amazonaws.com/science-red/...
17,CORAL,https://science.nasa.gov/missions/coral,Operating,https://smd-prod.s3.amazonaws.com/science-red/...
18,CRRES,https://science.nasa.gov/missions/crres,Past,https://smd-prod.s3.amazonaws.com/science-red/...
19,CYGNSS,https://science.nasa.gov/missions/cygnss,Future,https://smd-prod.s3.amazonaws.com/science-red/...
20,DISCOVER-AQ,https://science.nasa.gov/missions/discover-aq,Past,https://smd-prod.s3.amazonaws.com/science-red/...
21,DSCOVR,https://science.nasa.gov/missions/dscovr,Operating,https://smd-prod.s3.amazonaws.com/science-red/...
22,Dynamics Explorer,https://science.nasa.gov/missions/de,Past,https://smd-prod.s3.amazonaws.com/science-red/...
23,Earth Observing-1 (NMP),https://science.nasa.gov/missions/eo-1,Past,https://smd-prod.s3.amazonaws.com/science-red/...
24,ECOSTRESS,https://science.nasa.gov/missions/ecostress,Future,https://smd-prod.s3.amazonaws.com/science-red/...
25,ERBS,https://science.nasa.gov/missions/erbs,Past,https://smd-prod.s3.amazonaws.com/science-red/...
26,ESSA,https://science.nasa.gov/missions/essa,Past,https://smd-prod.s3.amazonaws.com/science-red/...
27,GEDI,https://science.nasa.gov/missions/gedi,Future,https://smd-prod.s3.amazonaws.com/science-red/...
28,Geosat,https://science.nasa.gov/missions/geosat,Past,https://smd-prod.s3.amazonaws.com/science-red/...
29,GOES (8-15),https://science.nasa.gov/missions/goes,Operating,https://smd-prod.s3.amazonaws.com/science-red/...
30,GOES-R,https://science.nasa.gov/missions/goes-r,Future,https://smd-prod.s3.amazonaws.com/science-red/...
31,GPM,https://science.nasa.gov/missions/gpm,Operating,https://smd-prod.s3.amazonaws.com/science-red/...

In [10]:
#creating new data with select columns from the astronauts df
new_astronauts_df = astronauts_df[['Name', 'Birth Date', 'Gender', 'Space Flights', 'Space Walks', 'Missions']].copy()     
new_astronauts_df.head(50)

,Name,Birth Date,Gender,Space Flights,Space Walks,Missions
0,Joseph M. Acaba,5/17/67,Male,2,2,"STS-119 (Discovery), ISS-31/32 (Soyuz)"
1,Loren W. Acton,3/7/36,Male,1,0,STS 51-F (Challenger)
2,James C. Adamson,3/3/46,Male,2,0,"STS-28 (Columbia), STS-43 (Atlantis)"
3,Thomas D. Akers,5/20/51,Male,4,4,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ..."
4,Buzz Aldrin,1/20/30,Male,2,2,"Gemini 12, Apollo 11"
5,Andrew M. Allen,8/4/55,Male,3,0,"STS-46 (Atlantis), STS-62 (Columbia), STS-75 (..."
6,Joseph P. Allen,6/27/37,Male,2,2,"ST-5 (Columbia), STS 51-A (Discovery)"
7,Scott D. Altman,8/15/59,Male,4,0,"STS-90 (Columbia), STS-106 (Atlantis), STS-109..."
8,William A. Anders,10/17/33,Male,1,0,Apollo 8
9,Clayton C. Anderson,2/23/59,Male,2,6,"STS-117/120 (Atlantis/Discovery), STS-131 (Dis..."
10,Michael P. Anderson,12/25/59,Male,2,0,"STS-89 (Endeavor), STS-107 (Columbia)"
11,Dominic A. Antonelli,8/23/67,Male,2,0,"STS-119 (Discovery), STS-132 (Atlantis)"
12,Jerome Apt III,4/18/49,Male,4,2,"STS-37 (Atlantis), STS-47 (Endeavor), STS-59 (..."
13,Lee J. Archambault,8/25/60,Male,2,0,"STS-117 (Atlantis), STS-119 (Discovery)"
14,Neil A. Armstrong,8/5/30,Male,2,1,"Gemini 8, Apollo 11"
15,Richard R. Arnold II,11/26/63,Male,1,2,STS-119 (Discovery)
16,Jeffrey S. Ashby,6/1/54,Male,3,0,"STS-93 (Columbia), STS-100 (Endeavor), STS-112..."
17,Serena M. Aunon,4/9/76,Female,0,0,NaN
18,James P. Bagian,2/22/52,Male,2,0,"STS-29 (Discovery), STS-40 (Columbia)"
19,Ellen S. Baker,4/27/53,Female,3,0,"STS-34 (Atlantis), STS-50 (Columbia), STS-71 (..."
20,Michael A. Baker,10/27/53,Male,4,0,"STS-43 (Atlantis), STS-52 (Columbia), STS-68 (..."
21,Michael R. Barratt,4/16/59,Male,2,1,"ISS-19/20 (Soyuz), STS-133 (Discovery)"
22,Daniel T. Barry,12/30/53,Male,3,4,"STS-72 (Endeavor), STS-96 (Discovery), STS-105..."
23,John-David F. Bartoe,11/17/44,Male,1,0,STS 51-F (Challenger)
24,Charles A. Bassett II,12/30/31,Male,0,0,NaN
25,Alan L. Bean,3/15/32,Male,2,3,"Apollo 12, Skylab 3"
26,Robert L. Behnken,7/28/70,Male,2,6,"STS-123 (Endeavor), STS-130 (Endeavor)"
27,John E. Blaha,8/26/42,Male,5,0,"STS-29 (Discovery), STS-33 (Discovery), STS-43..."
28,Michael J. Bloomfield,3/16/59,Male,3,0,"STS-86 (Atlantis), STS-97 (Endeavor), STS-110 ..."
29,Guion S. Bluford Jr.,11/22/42,Male,4,0,"STS-8 (Challenger), STS 61-A (Challenger), STS..."
30,Karol J. Bobko,12/23/37,Male,3,0,"STS-6 (Challenger), STS 51-D (Discovery), STS-..."
31,Eric A. Boe,10/1/64,Male,2,0,"STS-126 (Endeavor), STS-133 (Discovery)"
32,Charles F. Bolden Jr.,8/19/46,Male,4,0,"STS-61C (Columbia), STS-31 (Discovery), STS-45..."
33,Frank Borman,3/14/28,Male,2,0,"Gemini 7, Apollo 8"
34,Stephen G. Bowen,2/13/64,Male,3,7,"STS-126 (Endeavor), STS-132 (Atlantis), STS-13..."
35,Kenneth D. Bowersox,11/14/56,Male,5,2,"STS-50 (Columbia), STS-61 (Endeavor), STS-73 (..."
36,Charles E. Brady Jr.,8/12/51,Male,1,0,STS-78 (Columbia)
37,Vance D. Brand,5/9/31,Male,4,0,"Apollo-Soyuz Test Project, STS-5 (Columbia), S..."
38,Daniel C. Brandenstein,1/17/43,Male,4,0,"STS-8 (Challenger), STS 51-G (Discovery), STS-..."
39,Randolph J. Bresnik,9/11/67,Male,1,2,STS-129 (Atlantis)
40,Roy D. Bridges Jr.,7/19/43,Male,1,0,STS 51-F (Challenger)
41,Curtis L. Brown Jr.,3/11/56,Male,6,0,"STS-47 (Endeavor), STS-66 (Atlantis), STS-77 (..."
42,David M. Brown,4/16/56,Male,1,0,STS-107 (Columbia)
43,Mark N. Brown,11/18/51,Male,2,0,"STS 28 (Columbia), STS-48 (Discovery)"
44,James F. Buchli,6/20/45,Male,4,0,"STS 51-C (Discovery), STS 61-A (Challenger), S..."
45,Jay Clark Buckey,6/6/56,Male,1,0,STS-90 (Columbia)
46,John S. Bull,9/25/34,Male,0,0,NaN
47,Daniel C. Burbank,7/27/61,Male,3,1,"STS-106 (Atlantis), STS-115 (Atlantis), ISS-29..."
48,Daniel W. Bursch,7/25/57,Male,4,2,"STS-51 (Discovery), STS-68 (Endeavor), STS-77 ..."
49,Robert D. Cabana,1/23/49,Male,4,0,"STS-41 (Discovery), STS-53 (Discovery), STS-65..."